html{
    font-family: 'Courier Prime', monospace;
}

body {
    background: url("../img/background@1X.png") black;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding: 40px 0px;
    color:white;
}

.logo-image{
    display: inline-block;
    cursor: pointer;
    width: 166px;
    background: url("../IMG/logo@1X.png");
    background-repeat: no-repeat;
}
.container-image:hover {
    color:orange;
    background: orange;
}

.clearfix:after {
    content:"";
    display: block;
    clear: both;

}
.container {
    margin: 0 auto;
    width: 1100px;
}

.logo {
    float:left;
}

.logm {
    display: inline-block;
    font-size: 29px;
    margin-left: 60px;
}


.logh{
    display: inline-block;
    font-size: 18px;
    margin-left: 60px;
}

.contact {
    float:right;
    text-align: right;
}





.images {
    margin: 0 auto;
}
.container-image {
    float: left;
    margin-right: 89px;
    margin-bottom: 40px;
}

.container-image:nth-child(3n) {
    margin-right: 0;
}
.img-main {
    text-decoration: none;
}
.text-img {
    text-decoration: none;
    color: white;
    text-align:center;
    padding-top: 15px;
}





.bottom {
    color: white;
    text-align: center;
    margin-top: 50px;
}

