body {
    all: unset;
    font-family: Verdana, sans-serif;
}

:root {
    --header-height: 70px;
}

.background {
    background-image: url("../IMG/rana-sawalha-364253-unsplash@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.header-logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}


.header-logo:hover {
    color:#3cb576;
}

.header {
    height: var(--header-height);
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}

.container-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    color: white;
}

.bg-calendar {
    width: 19px; height: 19px;
    background: url('../IMG/css_sprites.png') -106px -49px;
}

.bg-calendar:hover {
    width: 19px; height: 19px;
    background: url('../IMG/css_sprites.png') -106px -10px;
}

.bg-chat {
    width: 28px; height: 20px;
    background: url('../IMG/css_sprites.png') -58px -10px;
}


.bg-chat:hover {
    width: 28px; height: 20px;
    background: url('../IMG/css_sprites.png') -10px -10px;
}

.bg-cl {
    width: 20px; height: 20px;
    background: url('../IMG/css_sprites.png') -10px -50px;
}

.bg-cl:hover {
    width: 20px; height: 20px;
    background: url('../IMG/css_sprites.png') -50px -50px;
}
.header-menu-text {
    cursor: pointer;
    color: green;

}
.header-menu {
    color:white;
}

.header-menu-icon {
    margin-right: 28px;
}

.header-menu-icon bg-cl {
    border-right: 2px solid #ccc;;
    margin-right: 28px;
    padding-right: 28px;
}





.main-content {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form {
    background-color: white;
    width:444px ;
    position: relative;
    padding: 30px 60px ;
    border-radius: 15px;
}

.container-form-login {
    color: #6bc998;
}

.facebook {
    background-color:#305db8;
    color:white;
    font-size: x-large;
}
.facebook:hover {
    background-color:#264b96;
    color:#ffffff;
}

.google {
    background-color:#df4a32;
    color:white;
    font-size: x-large;
}
.google:hover {
    background-color:#c3412c;
    color:#fdf9f9;
}

.button-FB::before {
    content: "f";
    padding-right: 20px;
    font-size: x-large;
    font-weight: bold;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.button-GL::before {
     content:"G+";
    padding-right: 20px;
    font-size: x-large;
    font-weight:bold;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}





.square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top:30px;
    left:0;
}

.container-form-signin {
    display:flex;
    justify-content: space-between;
}

.button-form {
    width: 49%;
    padding:15px 0;
    border-radius: 5px;
    border: none;
}
.button-form-all {
    display: flex;
    justify-content: space-between;
padding: 25px 0;
}

.or-between{
    text-align: center;
    color:#848484;

}

.or-between:after {
    content:"";
    border-bottom:1px solid #eaeaea;
    width: 45%;
display: inline-block;
    margin-bottom: 3px;
    margin-left: 10px;


}
.or-between:before {
    content:"";
    border-bottom:1px solid #eaeaea;
    width: 45%;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 10px;
}

.container-form-input {
    width: 100%;
    margin-bottom: 10px;
    transition: 0.5s;
    border: 1px solid #eaeaea;
    color:#848484;
    opacity: .5;
    padding-top: 10px;
    padding-bottom: 10px;
padding-left: 10px;
    border-radius: 5px;



}

.container-form-input:focus {
    font-weight: 600;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: 1px solid transparent;
    opacity: 1;
    color: black;
}
.or-between  {  padding-bottom: 15px;
}



/* checkbox *//* checkbox */
/* checkbox *//* checkbox */
/* checkbox *//* checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3fb97a;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* checkbox *//* checkbox */
/* checkbox *//* checkbox */
/* checkbox *//* checkbox */






.terms-conditions {
    color: #8bd5af;
}

.button-form-Create-Account {
    border-radius: 5px;
    border: none;
    background-color: #3cb878;
    height: 46px;
   color: white;
    width: 100%;
}




.button-GL {

}