html, body {
    width: 100%;
}
body{
margin: 0px;
}
.container {
    background-image: url("../img/Без названия.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-color: black;
}
.form {
}

header {
    height: 56px;
    opacity: 0.41;
    background-color: black;
}

.container .login-wrapper {
    position: absolute;
    background-color: black;
    top:30%;
    left:40%;
}
.container .form-wrapper{
    background-color: #fff;
    position: absolute;
}