body {
    font-family: Arial;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 2px;
    font-weight: 500;
}

h1 strong {
    font-weight: 700
}

h2 {
    margin-top: 1px;
    color: darkgrey;
    font-style: italic;
}