html {
width: 1280px;
    height: 1626px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: right;
}
img {
    width: 100%;
}
button {
    width: 30%;
    background: #27977F;
    color: white;
    align: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 100px;
}
div.text {
    text-align: center;
    background: #F5F6F7;
}
.head {
    cursor: pointer;
    color: #27977F;
    width: 100%;
    text-align: center;
    display: inline;
}
ul.menu {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}
ul.menu li {
    display: inline;
    margin-right: 4px;
    padding: 2px;
}
