html {
    font-family: AdobeInvisFont,Courier, Myriad Pro;
}
body {
    width: 1480px;

}
.LOGO {
    color: black;
    font-size: xx-large;
}
.container1 .botton-menu {
     background: #B4B7BA;
    padding: 15px;
}

.container1 {
    max-width: 1280px;
    margin: 0 auto;
}

.container1 .botton-menu a:hover {
    color:#0985aa;
    font-size: large;
    background: #B4B7BA;
    text-decoration: underline;

}

li {
    cursor: pointer
}
nav {
      background: #35444F;
      text-align: center;
    padding: 20px;
    max-width: 1280px;
}





nav a:hover {
    background: #222F3A;
    border-right: 0.1px solid #828282;
    border-left: 0.1px solid #828282;
}
nav a {
    padding: 10px;
}
.container1 a {
    text-decoration: none;
}
.main-menu {
    color: white;
}
.RA {
    color:black;
}
aside, article {
    display: inline-block;
    box-sizing: border-box;
    padding: 0px;

}
main {
    width: 100%;
    display: inline;
}
aside ul>li:hover {

    background: #DBDBDB;
    padding-left: 30px;
    color:black;
    transition: 2s;
}
aside {
    width: 25%;
    color:#495863;
    border: 1px solid black;
    text-decoration: none;

    margin-top: 30px;
    vertical-align: top;
}
article {
    width: 70%;
    text-align: center;
    margin-top: 30px;
    margin-left: 4%;
    display: inline-block;
    vertical-align: top;
    horiz-align: right;

}
.img {
    border: 1px solid black;

}
.img-ramda:hover {
    transform: scale(1.2);
    transition: 3s;
}
.left-menu {
    border: 1px;
}
li {
    padding: 10px;
    list-style-type: none;
}
body {
    margin:0;
}
.botton-menu {
    font-size: large;
}
.botton-menu-a{
    color:black;
}
.colortext {
    color: #00cbff;
}
.text {
    padding-left: 20px;
    padding-right: 20px;
}
.botton-menu:hover {
    border: none;
}
