body {
    /* Style for "Background" */
    background-color: #3a4965;
    margin: 0;
width: 1192px;

}

table {
    margin-left: 22px;
    margin-top: 24px;
    border-collapse: collapse;
    line-height: 1.1;
    text-align: center;
    color: #484848;
    font-family: 'Arimo-Bold', sans-serif;
}
table th:nth-child(n+1) {
    box-shadow: -4px 0 6px -5px #a4a4a4;
}
table th:first-child {
    box-shadow: none;
}
table .table-pricing-plan {
    background-color: #fafafa;
    text-transform: uppercase;
}

table .table-pricing-plan .cellpadding  {
    width: 310px;
    height: 156px;
    box-shadow: none;
}

table .table-pricing-plan .cellpadding .cellpadding-choose {
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
}
table .table-pricing-plan .cellpadding .cellpadding-pricing {
    font-size: 30px;
    color: rgba(72, 72, 72, 255);
}
table .table-pricing-plan .standard {
    width: 277px;
    height: 70px;
    background-color: #89c331;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}

table .table-pricing-plan .ultimate {
    width: 277px;
    height: 70px;
    background-color: #f04a56;
    font-size: 30px;
    color: #ffffff;
}
table .table-pricing-plan .premium {
    width: 277px;
    height: 70px;
    font-size: 24px;
    color: #ffffff;
    background-color: #20807c;
}
table .table-pricing-plan-sub .standard-price,
table .table-pricing-plan-sub .ultimate-price,
table .table-pricing-plan-sub .premium-price {
    width: 277px;
    height: 86px;
    background-color: #fafafa;
    box-shadow: -4px 0 6px -5px #a4a4a4;

}
table .table-pricing-plan-sub .standard-price > div,
table .table-pricing-plan-sub .ultimate-price > div,
table .table-pricing-plan-sub .premium-price > div {
    float: left;
}
table .table-pricing-plan-sub .standard-price .info-price,
table .table-pricing-plan-sub .ultimate-price .info-price,
table .table-pricing-plan-sub .premium-price .info-price {
    padding-left: 33px;
    font-size: 60px;
}
table .table-pricing-plan-sub .standard-price .info-price:before,
table .table-pricing-plan-sub .ultimate-price .info-price:before,
table .table-pricing-plan-sub .premium-price .info-price:before {
    content: "\0024";
    font-size: inherit;
}

table .table-pricing-plan-sub .standard-price .float-price,
table .table-pricing-plan-sub .ultimate-price .float-price,
table .table-pricing-plan-sub .premium-price .float-price {
    font-size: 29px;
    padding-right: 10px;
}
table .table-pricing-plan-sub .standard-price .information,
table .table-pricing-plan-sub .ultimate-price .information,
table .table-pricing-plan-sub .premium-price .information {
    font-family: 'Arimo', sans-serif;
    margin-top: -28px;
    margin-left: 140px;
    font-size: 18px;
}
table .content-table {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    height: 69px;
}
table .content-table:nth-child(2n-1) {
    background-color: #f2f2f2;
}
table .content-table:nth-child(2n) {
    background-color: #e3e3e3;
}
table .Storage, .users, .products, .support, .Email, .Bandwidth{
    color: #848484;
}













table .footer-table > td {
    height: 110px;
}
table .footer-table .table-cell-contact-us {
    background-color: #dddddd;
}
table .footer-table .table-cell-standard {
    background-color: #eeeeee;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}
table .footer-table .table-cell-ultimate {
    background-color: #f4f4f4;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}
table .footer-table .table-cell-premium {
    background-color: #eeeeee;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}
table .footer-table button {
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 192px;
    height: 49px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 17px;
    text-align: center;
    transition: all 0.5s;
}
table .footer-table button p{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
table .footer-table button p:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
table .footer-table button:hover p{
    padding-right: 25px;
}
table .footer-table button:hover p:after {
    opacity: 1;
    right: 0;
}
table .footer-table .table-cell-contact-us > button {
    background-color: #484848;
    box-shadow: 0 5px #404040;
}
table .footer-table .table-cell-standard > button {
    background-color: #89c331;
    box-shadow: 0 5px #79b027;
}
table .footer-table .table-cell-ultimate > button {
    background-color: #f04a56;
    box-shadow: 0 5px #df3a46;
}
table .footer-table .table-cell-premium > button {
    background-color: #20807c;
    box-shadow: 0 5px #16736f;
}

.table-cell-contact-us, .table-cell-standard, .table-cell-ultimate, .table-cell-premium {
    width: 310px;
    height: 110px;
}

th {
    vertical-align: middle;
}
.float-price {
    vertical-align: top;
}
